bidict>=0.23.1
certifi>=2024.8.30
idna>=3.10
numpy>=1.26.4
pyjsparser~=2.7.1
PyJWT~=2.9.0
python-dateutil~=2.8.2
python-dotenv~=1.0.1
requests>=2.32.3
six~=1.16.0
urllib3~=2.2.3
websocket-client~=1.8.0
websockets~=13.1
pandas~=2.2.3
asyncio~=3.4.3